# Ignore raw data (not uploaded to GitHub)
data/data-raw/*

# Keep processed data and structure
!data/processed/
!data/processed/*.parquet
!data/processed/*.csv
!data/.gitkeep

# Ignore cache and temp files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env/

# Ignore OS/system files
.DS_Store
Thumbs.db
